<main class="main">
    <nav>
        <ul style="list-style-type: none">
            <li><a routerLink="/hello-world">Hello World</a></li>
            <li><a routerLink="/hello-button">Show Hello Button</a></li>
            <li><a routerLink="/display-name">Display Name</a></li>
            <li><a routerLink="/counter">Counter</a></li>
            <li><a routerLink="/simple-form">Simple Form</a></li>
            <li><a routerLink="/user-age">User Age</a></li>
            <li><a routerLink="/user-greeting">User Greeting</a></li>
            <li><a routerLink="/calculator">Calculator</a></li>
            <li><a routerLink="/textlength">Text Length</a></li>
            <li><a routerLink="/currency-converter">Currency Converter</a></li>
            <li><a routerLink="/evenodd">Even or Odd</a></li>
            <li><a routerLink="/word-reverser">Word Reverser</a></li>
            <li><a routerLink="/date-now">Current Date</a></li>
            <li><a routerLink="/show-username">Show Username</a></li>
            <li>
                <a routerLink="/multiplication-table">Multiplication Table</a>
            </li>
            <li><a routerLink="/simple-login">Simple Login</a></li>
        </ul>
    </nav>
</main>
<router-outlet></router-outlet>
