<main class="main">
	<nav>
		<ul style="list-style-type: none">
			<li><a routerLink="/hello-world">Hello World</a></li>
			<li><a routerLink="/hello-button">Show Hello Button</a></li>
			<li><a routerLink="/display-name">Display Name</a></li>
			<li><a routerLink="/counter">Counter</a></li>
			<li><a routerLink="/simple-form">Simple Form</a></li>
			<li><a routerLink="/user-age">User Age</a></li>
			<li><a routerLink="/user-greeting">User Greeting</a></li>
			<li><a routerLink="/calculator">Calculator</a></li>
			<li><a routerLink="/textlength">Text Length</a></li>
			<li><a routerLink="/currency-converter">Currency Converter</a></li>
			<li><a routerLink="/evenodd">Even or Odd</a></li>
			<li><a routerLink="/word-reverser">Word Reverser</a></li>
			<li><a routerLink="/date-now">Current Date</a></li>
			<li><a routerLink="/show-username">Show Username</a></li>
			<li>
				<a routerLink="/multiplication-table">Multiplication Table</a>
			</li>
			<li><a routerLink="/simple-login">Simple Login</a></li>
			<li>
				<a routerLink="/fahrenheittocelsius">Fahrenheit to Celcius</a>
			</li>
			<li><a routerLink="/bookmark-list">Bookmark List</a></li>
			<li><a routerLink="/character-counter">Character Counter</a></li>
			<li><a routerLink="/palindrome">Palindrome</a></li>
			<li><a routerLink="/temp-converter">Temperature Converter</a></li>
			<li><a routerLink="/shopping-list">Shopping List</a></li>
			<li><a routerLink="/factorial">Factorial</a></li>
			<li><a routerLink="/todo">Todo Manager</a></li>
			<li>
				<a routerLink="/guess-number-game">Guess the number game</a>
			</li>
			<li>
				<a routerLink="/words-counter">Words counter</a>
			</li>
			<li>
				<a routerLink="/rand-num">Random Number Generator</a>
			</li>
			<li>
				<a routerLink="/multiplication-check">Multiplication Checker</a>
			</li>
			<li>
				<a routerLink="/uppercase-converter">Upper Case Converter</a>
			</li>
			<li>
				<a routerLink="/shuffler">Word Shuffler</a>
			</li>
			<li>
				<a routerLink="/bmi">BMI</a>
			</li>
			<li>
				<a routerLink="/username-validator">Username Validator</a>
			</li>
		</ul>
	</nav>
</main>
<router-outlet></router-outlet>
